.markdwon-editor {
    outline: none;
    border: 1px solid #ccc;
    padding: 24px;

    &:focus {
        border-color: red;
    }

    .md-i {

        // TODO [TEST]
        .md-sign {
            // display: none;
            color: blue;
        }

        &.sign-display {
            .md-sign {
                // display: inline-block;
                color: red;
            }
        }
    }
}