.markdwon-editor {
    outline: none;
    border: 1px solid #ccc;
    padding: 24px;

    &:focus {
        border-color: red;
    }

    .md-i,
    .md-b {

        // TODO [TEST]
        .md-sign,
        .md-image-content {
            // display: none;
            color: rgb(160, 160, 160);
        }

        &.sign-display {
            .md-sign {
                // display: inline-block;
                color: rgb(255, 0, 0);
            }
        }

        &[data-type=image].sign-display {
            .md-image-content {
                // display: inline-block;
                color: rgb(255, 0, 0);
            }
        }
    }

    img {
        width: 100%;
    }

    blockquote {
        border-left: 4px solid #ccc;
        padding-left: 12px;
    }

    p[data-type=paragraph] {
        margin: 12px 0;
    }
}